<h1>
  Welcome to my Alpha Blog!!!
</h1>

<div style="border: 1px solid black;padding: 25px;">
  <%= link_to 'Home', root_path %>
  <%= link_to 'About', about_path %>
</div>

<p>
  This is the home page of my Blog
</p>
<img src='https://2.bp.blogspot.com/-9ZSCHLTXEKM/WE-hKpSivhI/AAAAAAAAVJ0/0xwD5EM8bcUsLaz7IQbm8huHAeYJvTaXQCLcB/s1600/Dwarf-Undead-Battle-Scene.jpg' style="width:100%;height;auto;">
